html {
  height: 100%;
}
.body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.side-drawer {
  background: $background;
  position: fixed;
  width: 600px;
  border-radius: 20px;
  overflow: scroll;
  right: 0;
  z-index: 200;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
  transition: transform 0.5s ease-out;
}
.side-drawer.open {
  height: 85%;
  width: 600px;
  position: fixed;
  transform: translateX(0);
  overflow: scroll;
  margin-right: 10px;
  padding: 20px;
  button {
    font-size: 11px;
  }
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  top: 0;
  right: 0;
}
