.addHotelContainer {
  margin: 0 auto;
  width: 90%;
  padding: 30px;
  font-size: 11px;
  select {
    font-size: 10px;
  }
  input {
    font-size: 10px;
  }
  .facilities {
    label {
      margin: 10px;
    }
  }
  .amenities {
    label {
      margin: 10px;
    }
  }
}
