.authContainer {
    margin: 0 auto;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:120%; 

}

.authContainer-Mobile {
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:103%; 

}