.authContainer {
    margin: 0 auto;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:140%; 
    .card {
    box-shadow: 5px 5px 10px #d4d4d4;
    }
}

.authContainer-Mobile {
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:120%; 
    .card {
        box-shadow: 5px 5px 10px #d4d4d4;
    }
}