.profileContainer {
  margin: 0 auto;
  width: 60%;
  .personalInformationContainer {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .recentBookingContainer {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    img {
      width: 280px;
      height: 100%;
      object-fit: cover;
    }
    div {
      margin-bottom: 2px;
    }
    .recentBookingCard {
      box-shadow: 5px 5px 5px darken($color: #d4d4d4, $amount: 1);
    }
  }
  .recentRatingContainer {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .propertiesContainer {
    padding: 10px;
    img {
      object-fit: cover;
    }
    .propertiesHeader {
      display: flex;
      justify-content: space-between;
    }
  }
}
